# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

#WebStorm
.idea

# vscode
.vscode
*code-workspace

# .env Files
*.env*

# Log Files
log.txt