.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    background-color: var(--color-gray-700);
    padding: 1rem;
    border-radius: 10px;

    & hr {
        border: 1px solid var(--color-purple-700);
        width: 100%;
    }

    & form {
        display: flex;
        align-items: flex-start;
        background-color: var(--color-gray-800);
        border-radius: 5px;
        padding: 0.5rem 1rem;
        gap: 0.5rem;
        margin-block: auto;
    }

    & form:has(input[type='checkbox']) {
        flex-direction: column;
    }

    & form div {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    & form label {
        font-size: 1.1rem;
        font-weight: bold;
    }
}